<div class="">
    <!--<h3>About:</h3>-->
    <hr/>
    <img class=" center-block img-thumbnail" src="/images/about.jpg">
    <div class="text-center">
        <!--<h3>MR SATAN</h3>-->
        <p>{{site.description}}</p>
        <br/>
    </div>
</div>

<!--<div class="">-->
    <!--&lt;!&ndash;<h3>About:</h3>&ndash;&gt;-->
    <!--<img class="img-rounded" style="width: 100%;" src="/images/wordcloud.png">-->
    <!--<div class="text-center">-->
        <!--<p></p>-->
    <!--</div>-->
<!--</div>-->