<div id="">
	<ul class="list-group">
	  {% for post in site.posts | limit:10 %}
		<li class="list-group-item">
			<a href="{{ post.url }}">
				<span class="glyphicon glyphicon-paperclip"></span>&nbsp;
				<span class="h4 " >{{ post.title }}</span>
			</a>
		  	<span class="h5"> post at {{ post.date | date: "%Y.%-m.%-d" }}</span>
			<div>{{ post.content | strip_html | truncate:200 }}</div>
		  <!--<div class="">
		  Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
		  </div>-->

		</li>
		<!--{% if  forloop.last %}{% else %}<hr>{% endif %}-->
	  {% endfor %}
	</ul>

	<div class="text-right" >
		<a class="btn btn-lg btn-default" href="/archive.html">More...
		</a>
	</div>
</div>
