
rect#id-2019-01-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-07{ fill: #c3e395; opacity: 5%; }
rect#id-2019-01-08{ fill: #c3e395; opacity: 5%; }
rect#id-2019-01-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-11{ fill: #c3e395; opacity: 5%; }
rect#id-2019-01-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-16{ fill: #c3e395; opacity: 5%; }
rect#id-2019-01-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-28{ fill: #c3e395; opacity: 5%; }
rect#id-2019-01-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-01-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-24{ fill: #c3e395; opacity: 5%; }
rect#id-2019-02-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-02-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-01{ fill: #c3e395; opacity: 5%; }
rect#id-2019-03-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-07{ fill: #c3e395; opacity: 5%; }
rect#id-2019-03-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-10{ fill: #c3e395; opacity: 5%; }
rect#id-2019-03-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-03-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-04-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-05-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-06-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-06{ fill: #c3e395; opacity: 5%; }
rect#id-2019-07-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-08{ fill: #c3e395; opacity: 5%; }
rect#id-2019-07-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-12{ fill: #c3e395; opacity: 5%; }
rect#id-2019-07-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-07-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-12{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-13{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-18{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-22{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-25{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-27{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-08-30{ fill: #c3e395; opacity: 5%; }
rect#id-2019-08-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-03{ fill: #009a48; opacity: 5%; }
rect#id-2019-09-04{ fill: #009a48; opacity: 5%; }
rect#id-2019-09-05{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-07{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-08{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-09{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-11{ fill: #c3e395; opacity: 5%; }
rect#id-2019-09-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-14{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-15{ fill: #F6A6A1; opacity: 5%; }
rect#id-2019-09-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-17{ fill: #c3e395; opacity: 5%; }
rect#id-2019-09-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-23{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-09-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-04{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-11{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-12{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-13{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-14{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-15{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-16{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-17{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-18{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-19{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-20{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-21{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-22{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-23{ fill: #c3e395; opacity: 5%; }
rect#id-2019-10-24{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-25{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-26{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-27{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-28{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-29{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-30{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-10-31{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-01{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-02{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-03{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-04{ fill: #c3e395; opacity: 5%; }
rect#id-2019-11-05{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-06{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-07{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-08{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-09{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-10{ fill: #ebedf0; opacity: 5%;}
rect#id-2019-11-11{ fill: #ebedf0; opacity: 5%;}
