/*body*/


body {
  background-color: rgba(1, 1, 1, 0.04);
}


#page-body{
  font-size: 17px;
  font-family: "Microsoft YaHei",sans-serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px;
}



.navbar-custom {
  padding-top: 20px;
}

.navbar-custom .site-title {
  font-size: 40px;
  color:#0090c0;;
  font-family: impact,'Microsoft Yahei';
}


/*header css*/




/*post css  for post list*/


.post {
clear:both;
position:relative;
}

.postunder {
clear:both;
position:relative;
margin:10px 0 10px;
}

.date {
color:#333;
text-transform:uppercase;
font-family:Georgia,serif;
font-weight:normal;
text-shadow:1px 1px 0 #ddd;
width:95px;
height:30px;
float:left;
margin:4px 10px 0 10px;
padding:0 10px 0 0;
border-right:1px solid #ddd;
}
.date .day {
  font-size:30px;
  float:left;
  line-height:56px;
  margin-top:-14px;
  margin-right: 5px;
  color:#0090c0;
  font-weight:800;
}

.post .date .month {
font-size:12px;
position:relative;
top:3px;
width:35px;
float:right;
}
.date .year {
font-size:12px;
position:relative;
top:-2px;
width:35px;
float:right;
}

.post h2 a {
  color: #0090c0;
}
.post h2 a:hover {
color: rgba(5, 5, 28, 0.57);
}
.post h2 {
  padding:10px 0 0 0;
  text-shadow: 1px 1px 0 #ddd;
}
.post h2,#comments h4 {
font-size:18px;
color:#0090c0;
text-decoration:none;
font-weight:normal;
}


.post .con {

  /*font-family: "";*/
  font-size: 15px;
  padding: 20px 5px;
  font-family: "Microsoft YaHei", sans-serif;
}




/*content css  for every post*/

.post-header {

}

.post-header h1 {
  font-size: 22px;
  color: #0090c0;
}



.post-content {
  font-size: 16px;
  font-family: "Songti TC";
}

.post-content h1{
  font-size: 22px;
  border-bottom: rgba(1, 1, 1, 0.23) solid 1px;
  padding-bottom: 5px;
  font-family: "Kaiti SC";
}


.post-content .highlight  {
  background-color: rgba(1, 1, 1, 0.08);
  /*border-bottom-left-radius: 30px;*/
  /*border-top-right-radius: 30px;*/
  /*padding: 20px 20px;*/
}

.post-content h2,h3,h4 {
  font-size: 22px;
  padding: 10px 0 8px 0;
  font-family: "Kaiti SC";
}


.post-content img {
  margin: 0 auto;
  max-width: 100%;
  min-width: 80%;
}


.post-footer {
  font-size: 14px;
}


/*footer css*/

#footer .foot {
  font-family: "Kaiti SC";
  font-size: 14px;
}



