
<!DOCTYPE html>
<html lang="zh-CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.png">

    <title>{{ page.title }}</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/custom/css/colorful-bash.css" rel="stylesheet">
    <link href="/custom/css/colorful-python.css" rel="stylesheet">
    <link href="/custom/css/main.css" rel="stylesheet">

</head>

  <body>
        <div id="page-body">
        {% include header.html %}
            {{ content}}
        {% include footer.html %}
        </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/custom/js/main.js"></script>


</body></html>
