<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}"/>
        <meta name="viewport" content="width=device-width">
        <link href="/favicon.png" rel="icon">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

<!-- {% if page.bootstrap %} -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- {% endif %} -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

        <!-- Custom JS -->
        <script type="text/javascript" src="{{ site.baseurl }}/js/is.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/colorful.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/second.css">

    </head>
    <body>

        <div class="site">
          <div class="site-content">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">BLOG</a>
              <a class="extra" href="https://github.com/yangfeiffei">GITHUB</a>
              <a class="extra" href="/tag.html">TAG</a>
              <a class="extra" href="/about.html">ABOUT</a>
              <!-- <div class="">{{ site.description }}</div> -->
            </div>

            {{ content }}

            <div class="footer">

              <div class="contact">
                <p>
                  <div class="">{{ site.description }}@2017</div>
                </p>
              </div>
            </div>

          </div>



        </div>


<!-- <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6f8eefe3f13b327ada7a7406d2af3232' type='text/javascript'%3E%3C/script%3E"));
</script> -->


    </body>
</html>
